/* Header */
.header {
    background-color: var(--header-background-color);
    height: var(--header-height);
    padding: 10px 20px;
    font-family: 'SF Pro Light';
    font-size: .9rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header .logo {
    height: 25px;
    padding-right: 20px;
}

.nav-link {
    color: #ffffff;
    padding: 3px 8px;
}

.header .nav-icons {
    color: #ffffff;
}

.header .nav-icons li {
    padding-right: 20px;
}

.active {
    background-color: var(--active-link-color);
    border-radius: 5px;
}

/* DROPDOWN */
.projects-dropdown {
    position: absolute;
    top: 30px;
    left: -5px;
    border: 1px solid rgba(162, 162, 162, 0.5);
    background-color: var(--dropdown-background-color);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    width: 180px;
}

.dropdown-link {
    padding: 5px 10px;
    color: #ffffff;
    font-size: 0.9rem;
}

/* Footer */
.footer {
    background-color: var(--footer-background-color);
    height: var(--footer-height);
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: 1px solid rgba(162, 162, 162, 0.5);
    border-radius: 20px;
}

.footer-link {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.footer-link:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.footer-link .link-icon {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
}

.footer .links li:nth-last-child(2)::after {
    content: '';
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: rgba(162, 162, 162, 0.5);
}

.hover-link-label {
    display: none;
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem .8rem;
    background-color: var(--hover-link-label-background-color);
    color: #fff;
    border-radius: 8px;
    text-align: center;
    font-family: 'SF Pro Light';
    font-size: .8rem;
}

.hover-link-label::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--hover-link-label-background-color);
}

/* Home Page */
.home-page {
    background-image: url('img/main-bg.jpg');
    background-size: cover;
    height: 100vh;
    font-family: 'SF Pro Light';
    padding-top: 100px;
}

.home-page .logo {
    width: 400px;
}

.home-page .subtitle {
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 20px;
    font-family: 'SF Pro Regular';
}

.home-page .lockscreen-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.folders {
    width: 210px;
    flex-wrap: wrap;
}

.folder {
    margin-bottom: 30px;
    width: 100%;
}

.folder .folder-icon {
    width: 100%;
    padding: .3rem;
}

.folder-label {
    padding: .3rem;
    color: #ffffff;
    font-size: 0.9rem;
}

.reel .reel-icon {
    width: 80px;
    padding: .3rem;
}

.cv .cv-icon {
    width: 60px;
    padding: .3rem;
}

/* Projects Page */
.projects-page {
    height: 100vh;
    font-family: 'SF Pro Light';
}

.side-menu {
    height: 100vh;
    padding-top: 70px;
    width: var(--side-menu-width);
    background-color: var(--side-menu-background-color);
    color: #ffffff;
}

.btn-icon {
    display: none;
    font-size: .6rem;
}

.projects-list {
    background-color: var(--project-page-background-color);
    padding-top: 70px;
    width: calc(100% - var(--side-menu-width));
    height: 100vh;
    color: #ffffff;
}

.side-menu-header {
    height: 30px;
    padding-bottom: 20px;
}

.side-menu-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 1px;
    background-color: rgb(1, 4, 22);
    box-shadow: 5px 2px 8px #414247;
}

.active-side-bar {
    background-color: var(--active-category-color);
    border-radius: 5px;
}

.projects-list-header {
    height: 30px;
    padding-bottom: 20px;
}

.projects-list-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(1, 4, 22);
    box-shadow: 5px 2px 8px #414247;
}

.side-menu-body {
    padding: 30px 30px;
}

.projects-list-body {
    padding: 0 30px;
}

.side-menu-header .close-btn {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--close-btn-color);
}

.side-menu-header .hide-btn {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--hide-btn-color);
}

.side-menu-header .expand-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--expand-btn-color);
}

.navigation {
    padding-left: 30px;
}

.actions {
    padding-right: 30px;
}

.back-btn {
    padding-right: 10px;
    font-family: 'SF Pro Thin';
    font-size: 1.5rem;
}

.forward-btn {
    padding-right: 20px;
    font-family: 'SF Pro Thin';
    font-size: 1.5rem;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.search-bar {
    background-color: var(--project-page-background-color);
    border: 1px solid rgba(162, 162, 162, 0.5);
    border-radius: 8px;
    padding: 5px 10px;
}

.search-bar-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: .8rem;
    color: rgba(162, 162, 162, 0.5);
}

.buttons {
    margin-right: 50px;
}

.layout-grid {
    margin-right: 20px;
}

.layout-grid::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 38px;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: rgba(162, 162, 162, 0.5);
}

.layout-list {
    margin-right: 40px;
}

.grid-card .project-name {
    font-size: .9rem;
    padding: 3px 8px;
}

.category-item {
    color: #7E8A9E;
    padding: 3px 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.grid-icon {
    padding: 6px 8px 3px 8px;
    border-radius: 3px;
}

.type-item {
    color: #E5EEFF;
    padding: 3px 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.project-grid {
    padding-top: 30px;
}

.project-card {
    width: 100%;
}

.project-card .project-thumbnail {
    width: 100px;
    height: 100px;
    padding: 8px;
}

.project-card .project-thumbnail-sm {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.col-list {
    width: 30%;
    height: 100vh;
    padding-top: 30px;
    border-right: 1px solid rgb(1, 4, 22);
}

.col-list .project-name {
    font-size: 1rem;
}

.col-preview {
    width: 70%;
    padding: 40px 40px 200px 80px;
    height: 100vh;
    overflow: scroll;
}

.project-preview-name {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 5px;
}

.project-preview-subtitle {
    font-family: 'SF Pro Thin';
    padding-bottom: 20px;
}

.project-preview-info {
    padding-top: 10px;
    padding-bottom: 50px;
}

.info-row {
    font-family: 'SF Pro Thin';
    font-size: 1rem;
}

.divider {
    margin: 10px 0 10px 0;
}

.more-btn {
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-bottom: 10px;
}

.dots {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
}

.highlighted {
    background-color: var(--main-blue);
    border-radius: 5px;
    margin-right: 20px;
}